* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f3f3f3;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    text-align: center;
    padding: 0.5rem;
    margin-top: 20px;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #ff6347;
    color: #f3f3f3;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: #d74930;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.nutrients ul{
    display: flex;
    width: 35rem;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.meals {
    display: flex;
}

img {
    width: 100%;
    margin-bottom: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 18rem;
    box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
    margin-bottom: 20px;
}

.instructions {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    background-color: #ff6347;
    color: #f3f3f3;
    width: fit-content;
    padding: 0.5rem 1rem;
}

.link:hover {
    cursor: pointer;
    background-color: #d74930;
}

@media only screen and (max-width: 550px) {
    .meals {
        flex-direction: column;
        align-items: center;
    }

    .nutrients ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}